.download-icon {
  color: white;
  cursor: pointer;
  /* height: 40px; */
  left: 7px;
  background: black;
  padding: 6px;
  border-radius: 16px;
  font-size: 11px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  /* width: 40px; */
  /* width: 40px; */
  z-index: 999;
  }
  
  .download-icon:hover {
    color: #1e40af;          /* Tailwind's blue-800 */
  }