

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Montserrat", sans-serif;
}
@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 40s linear infinite;
}
